<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">

    
    <title>Edit Inventory Item</title>
</head>
<body>
    <h1>Edit Inventory Item</h1>
    <form action="/inventory/edit/<%= Item._id %>" method="post">
        <label for="ItemName">Item Name:</label>
        <input type="text" name="ItemName" value="<%= Item.ItemName %>" required>

        <label for="Supplier">Supplier:</label>
        <input type="text" name="Supplier" value="<%= Item.Supplier %>" required>

        <label for="DateReceived">Date Received:</label>
        <input type="date" name="DateReceived" value="<%= Item.DateReceived.toISOString().substring(0, 10) %>" required>

        <label for="ItemDescription">Description:</label>
        <textarea name="ItemDescription"><%= Item.ItemDescription %></textarea>

        <label for="Cost">Cost:</label>
        <input type="number" name="Cost" value="<%= Item.Cost %>" required>

        <label for="Quantity">Quantity:</label>
        <input type="number" name="Quantity" value="<%= Item.Quantity %>" required>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
